@import 'styles_variables.scss';

:host {
  display: block;
  padding: 2em 5em;

  display: flex;
  flex-direction: column;
}

button {
  width: 200px;
  flex: 0 0 auto;
  margin-top: 2em;
}

header {
  border-bottom: 2px solid $primary-color;
  margin-bottom: 1em;
}

footer {
  margin-top: 1em;
  padding: 0.5em;
  color: $accent-contrast-color;
  background-color: $accent-color;
}

mat-form-field {
  max-width: 200px;
}

h2 {
  font-size: $font-title-size;
  font-family: $font-title-family;
}
