<header>
  <h2>
    Angular Materials Theming
  </h2>
</header>
<mat-form-field>
  <mat-label>Datum</mat-label>
  <input matInput [matDatepicker]="datePicker" (focus)="datePicker.open()">
  <mat-datepicker #datePicker></mat-datepicker>
</mat-form-field>

<app-color-palette></app-color-palette>

<button mat-raised-button color="primary" matBadge="8" matBadgePosition="after" matBadgeColor="accent"
  class="dark-themes">
  primary-accent
</button>
<button mat-raised-button color="accent" matBadge="2" matBadgePosition="after" matBadgeColor="primary">
  accent-primary
</button>
<button mat-raised-button color="warn" matBadge="3" matBadgePosition="after" matBadgeColor="warn">
  warn-warn <i class="material-icons">
    account_balance
  </i>
</button>
<footer>
  by GEDOPLAN
</footer>
